.gasha-grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    place-items: start center;

    grid-template-areas:
        "descrip"
        "body";

    .gasha-descrip {
        display: grid;
        grid-gap: 1rem;
        grid-area: descrip;
    }

    .body-section {
        grid-area: body;
        grid-gap: 1rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, auto);

        .button-section {
            display: grid;
            grid-gap: .5rem;
            grid-template-areas:
                "lever"
                "cursed"
                "toadling";

            .lever {
                grid-area: lever;
                &:hover {
                    font-weight: bold;
                    background-image: linear-gradient(to right, red , blue,  purple);
                }
            }
            .cursed {
                grid-area: cursed;
                &:hover {
                    font-weight: bold;
                    background-image: linear-gradient(to right, gold, black);
                }
            }
            .toadling {
                grid-area: toadling;
                &:hover {
                    font-weight: bold;
                    background-image: linear-gradient(to right, gold, green);
                }
            }
        }
    }
}

.saying-grid {
    padding-top: 1rem;
    display: grid;
    place-content: center;
    grid-template-columns: auto;
    grid-template-rows: auto;
}