<section class='gasha-grid'>
    <section class='gasha-descrip'>
        <div>
            The pinnacle of automated Gear distribution for every Hotel Maintenance Crew.
            The more Gold you enter, the higher the chance of receiving something remarkably
            wonderful.
        </div>
        <div>
            All projectile Weapons come with only 5 Ammo.
        </div>
        <div>
            The Gashapon allows for ONE free play a day per Crew member. How generous! 
        </div>
      </section>
    
      <section class='body-section'>
        <section class='gold-section'>
          <label for='goldIn'>GOLD IN </label>
          <input id='goldIn' [(ngModel)]='goldAmount' type='number' min="0">
        </section>
    
        <section class='button-section'>
          <button class='lever' (click)='pullLever(false)'>PULL THE LEVER!</button>
          <button class='cursed' (click)='pullLever(true)'>CURSED GOLD? UH OH.</button>
        </section>
      </section>
</section>

<img *ngIf='itemDescrip' src="{{itemDescrip}}">
