<section class='main-grid'>
  <h1 class='title-section'>
    DEADHALT GASHAPON
  </h1>
  <section class='gasha-descrip'>
    The pinnacle of automated Gear distribution for every Hotel Maintenance Crew.
    The more Gold you enter, the higher the chance of receiving something remarkably
    wonderful.
  </section>

  <section class='body-section'>
    <section class='gold-section'>
      <label for='goldIn'>GOLD IN </label>
      <input id='goldIn' [(ngModel)]='goldAmount' type='number' min="0">
    </section>

    <section class='button-section'>
      <button class='lever' (click)='pullLever(false)'>PULL THE LEVER!</button>
      <button class='cursed' (click)='pullLever(true)'>CURSED GOLD? UH OH.</button>
    </section>
  </section>
</section>

<img *ngIf='itemDescrip' src="{{itemDescrip}}">
