<section class='main-grid'>
  <h1 class='title-section'>
    WinterNET
  </h1>
  
  <section class='choices-section'>
    <span [ngClass]="{'chosen': choice === 'medcon'}" (click)='choice = "medcon"'>
      MEDCON
    </span>
    <span [ngClass]="{'chosen': choice === 'malfunction'}"  (click)='choice = "malfunction"'>
      MALFUNCTIONS
    </span>
    <span [ngClass]="{'chosen': choice === 'glitch'}"  (click)='choice = "glitch"'>
      GLITCHES
    </span>
    <span [ngClass]="{'chosen': choice === 'gashapon'}"  (click)='choice = "gashapon"'>
      GASHAPON
    </span>
  </section>

  <section class='display-section'>
    <span class='placeholder-text' *ngIf="!choice">
      WELCOME TO WINTERNET!
    </span>
    <app-gashapon *ngIf='choice === "gashapon"'></app-gashapon>
    <app-modsroller *ngIf='choice === "medcon"'></app-modsroller>
    <app-glitchesroller *ngIf='choice === "glitch"'></app-glitchesroller>
    <app-malfunctionsroller *ngIf='choice === "malfunction"'></app-malfunctionsroller>
  </section>
</section>