<section class='main-grid'>
  <section class='title-section'>
    <h1>
      WinterNET
    </h1>
    <span>
      v1.0
    </span>
  </section>
  
  <section class='choices-section'>
    <span [ngClass]="{'chosen': choice === 'medcon'}" (click)='choice = "medcon"'>
      MEDCON
    </span>
    <span [ngClass]="{'chosen': choice === 'malfunction'}"  (click)='choice = "malfunction"'>
      MALFUNCTIONS
    </span>
    <span [ngClass]="{'chosen': choice === 'glitch'}"  (click)='choice = "glitch"'>
      GLITCHES
    </span>
    <span [ngClass]="{'chosen': choice === 'gashapon'}"  (click)='choice = "gashapon"'>
      GASHAPON
    </span>
  </section>

  <section class='display-section'>
    <span class='placeholder-text' *ngIf="!choice">
      <p>WELCOME TO WINTER<b>NET</b>!</p>
      <p>
        <b>ERROR!</b>: CONNECTION TO FORT<b>RA</b> HAS BEEN LOST.
      </p>
      <p>
        ATTEMPTING TO RECONNECT TO FORT<b>RA</b>...
      </p>
    </span>
    <app-gashapon *ngIf='choice === "gashapon"'></app-gashapon>
    <app-modsroller *ngIf='choice === "medcon"'></app-modsroller>
    <app-glitchesroller *ngIf='choice === "glitch"'></app-glitchesroller>
    <app-malfunctionsroller *ngIf='choice === "malfunction"'></app-malfunctionsroller>
  </section>
</section>
