body {
    background-color: #1a1a1a;
    color: rgb(215, 206, 177);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.greenText {
    color: lime;
    font-size: 2rem;
    font-weight: bold;
}

.padding-left {
    padding-left: 1rem;
}

.title-sections {
    background-color: black;
    font-weight: bold;
}

.larger-font {
    font-size: 1.3rem;
}

.standard-font {
    font-size: 1rem;
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "title"
        "choices"
        "display";

    .title-section {
        display: grid;
        grid-template-areas:
            "main version";
        grid-area: title;
        color: #ffb920;
        place-self: center;
        h1 {
            grid-area: main;
            font-size: 3rem;
            place-self: center;
        }
        span {
            grid-area: version;
            place-self: center;
        }
        
    }
    section.choices-section {
        grid-area: choices;
        background-color: black;
        color: white;
        display: grid;

        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        span {
            place-self: center;
            cursor: pointer;
            font-size: 1.3rem;
            font-weight: bold;

            &.chosen {
                background-color: white;
                color: black;
                font-weight: bolder;
            }
        }
    }
    .display-section {
        display: grid;
        padding-top: 1rem;
        grid-area: display;
        place-self: center;

        .placeholder-text {
            font-size: 1.5rem;
        }
    }
}

button {
    font-size: 1.3rem;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
}

label {
    color: gold;
    font-weight: bold;
}

input {
    background-color: black;
    color: gold;
    border: none;
    font-size: 1rem;
}

img {
    width: 100%;
    height: 100%;
}
